@charset "utf-8";
#khung{
	width:1500px;
	height:100px;
	display:flex;
	clear:both;
}
img{
	width:250px;
	height:100px;
}
#logo{
	width:240px;
	height:100px;
	margin-left:60px;
	float:left;
}
#tieude{
	height:70px;
	width:800px;
	float:left;
	margin-top:15px;

}
#tieude ul li{
	display:inline;
	list-style:none;
	padding-left:30px;
	padding-right:30px;
	font-size:26px;
	padding-top:10px;
	padding-bottom:10px;
}
#tieude ul li a{
	text-decoration:none;
	color:#999;
	font-weight:bold;
}
#tieude ul li a:hover{
	color:white;
	font-size:26px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-color:#0C6;
	border-radius:5px;
}
#text{
	width:190px;
	height:30px;
	margin-top:30px;
	float:left;
	color:black;
}
#kinhlup{
	float:left;
	width:50px;
	height:35px;
	margin-top:30px;
	background-color:orange;
}
#mobi{
	text-align:center;
	margin-left:50px;
	margin-top:30px;
	font-weight:bold;
	font-size:20px;
	display:none;
}
#kinhlup:hover{
	transform:scaleX(1.5);
	}
	@media only screen and (max-width: 640px) {
	#logo{
		width:150px;
		height:60px;
		margin:0;
	}
	img{
		width:150px;
		height:100px;
	}
	#tieude{
		display:none;
	}
	#text{
		display:none;
	}
	#kinhlup{
		display:none;
	}
	#mobi{
		display:block;
}/* CSS Document */
